<div class="contaier">
  <p>つぶやき内容</p>
  <h3>
    <%= @div.content %>
  </h3>
  <h3>
    <%= @div.created_at %>
  </h3>
  <%= link_to "編集", edit_div_path(@div.id), data:{ confirm: "編集してよいですか？"} %>
  <%= link_to "削除", div_path, method: :delete, data:{ confirm: "本当に削除しますか？"} %>

</div>
